{
	"all": true,
	"report-dir": "coverage/cypress",
	"exclude": [
		"./.github/**",
		"./.husky/**",
		"./coverage/**",
		"./cypress/**",
		"./dist/**",
		"./public/**",
		"./src/assets/**",
		"./eslintrc.cjs",
		"**/*.d.ts",
		"**/*.spec.ts",
		"**/*.conf.{js,ts}",
		"**/*.config.{js,ts}"
	]
}
